<div class="details mdl-grid">
  <h3 class="mdl-cell mdl-cell--7-col">{{::detailsCtrl.year}} Race Results</h3>
  <season winner-id="{{::detailsCtrl.winnerId}}" class="mdl-cell mdl-cell--7-col" races="::detailsCtrl.races"></season>
</div>
