<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">GRAND PRIX</th>
      <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone mdl-cell--hide-tablet">Date</th>
      <th class="mdl-data-table__cell--non-numeric">Winner</th>
      <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone">Car</th>
      <th class="mdl-cell--hide-phone mdl-cell--hide-tablet">Laps</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="race in ::$ctrl.races" ng-class="{'winner': $ctrl.winnerId === race.winnerId}">
      <td class="mdl-data-table__cell--non-numeric">{{::race.raceName}}</td>
      <td class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone mdl-cell--hide-tablet">{{::race.date}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{::race.winner}}</td>
      <td class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone">{{::race.car}}</td>
      <td class="mdl-cell--hide-phone mdl-cell--hide-tablet">{{::race.laps}}</td>
    </tr>
  </tbody>
</table>
