<div ng-repeat="winner in ::$ctrl.winners track by winner.id" class="home-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--7-col mdl-cell--middle">
  <div class="mdl-card__title">
    <img src="/app/public/images/{{::winner.driverId}}.jpg" alt=""/>
    <h2 class="mdl-card__title-text">{{::winner.season}} - {{::winner.name}}</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-grid">
    <span class="mdl-cell mdl-cell--6-col"><b>Nationality:</b> {{::winner.nationality}}</span>
    <span class="mdl-cell mdl-cell--6-col"><b>Points:</b> {{::winner.points}}</span>
    <span class="mdl-cell mdl-cell--6-col"><b>Car:</b> {{::winner.car}}</span>
    <span class="mdl-cell mdl-cell--6-col"><b>Wins:</b> {{::winner.wins}}</span>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="/seasons/{{::winner.season}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Go To Season
    </a>
  </div>
</div>
